* {
  user-select: none;
  box-sizing: border-box;
}

html,
body {
  font-family: "Karla", sans-serif;
  margin-right: auto;
  overflow: hidden;
  justify-content: start;
}

main {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1em;
  background-color: rgba(128, 128, 128, 0.176);
  max-height: 100%;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: radial-gradient(circle, #ff8239ef 1.18%, #ff4c0b90 100%);
  color: white;
  padding: 20px;
}

.header--title {
  font-size: 1.45rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.8rem;
  font-weight: 500;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-bottom: 17px;
}

.form--input {
  width: 80%;
  padding: 0.5em 1.5em;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  text-indent: 5px;
}

.form--button {
  margin: 0 auto;
  font-family: "Karla", sans-serif;
  border-radius: 8px;
  background-color: #ff44008e;
  color: white;
  border: none;
  cursor: pointer;
}

.form--button:hover {
  background-color: #ff4400c4;
}

.form--button:focus {
  outline: none;
}

.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}