* {
  user-select: none;
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  font-family: 'Permanent Marker', cursive;
  margin-right: auto;
  overflow-x: hidden;
  width: 100%;
  user-select: none;
  display: flex;
  justify-content: center;
  max-height: 100%;
}

main {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: rgba(181, 176, 176, 0.653);
  max-height: 100%;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: #ff4c0bbd;
  color: white;
  padding: 20px;
}

.header--title {
  font-size: 1.45rem;
  margin-right: auto;
}

i {
  font-size: 2rem;
  margin-right: .5em;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-bottom: 17px;
}

.form--input {
  width: 80%;
  letter-spacing: .1rem;
  padding: 0.5em 1.5em;
  border-radius: 5px;
  border: none;
  text-indent: 5px;
}

.form--input:hover {
  background-color: #242424;
}

.form--button {
  margin: 0 auto;
  padding: 1em 1.5em;
  border-radius: 8px;
  background-color: #f98125;
  box-shadow: 1px 1px 6px rgb(0, 0, 0);
  color: white;
  border: 2px solid #f98125;
  cursor: pointer;
}

.form--button:hover {
  background-color: #ff4c0baa;
  border: 2px solid #ff4c0baa;
}

.form--button:active {
  background-color: #ff4c0bbd;
  box-shadow: none;
  border: none;
}

.form--button:focus {
  outline: none;
}

.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 5px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.top {
  top: 0;
}